import { ChangeDetectionStrategy, Component, input } from '@angular/core';
import {
  __CLASS__,
  type MatExpressiveButtonShape,
  type MatExpressiveButtonSize,
  type MatExpressiveButtonToggle,
} from '@ngm-dev/mat-expressive';

/** @playgroundFor __CLASS__ */
@Component({
  selector: 'app-__KEBAB__-preview',
  standalone: true,
  imports: [__CLASS__],
  changeDetection: ChangeDetectionStrategy.OnPush,
  templateUrl: './__KEBAB__-preview.component.html',
  styleUrl: './__KEBAB__-preview.component.scss',
})
export class __PASCAL__PreviewComponent {
  readonly size = input<MatExpressiveButtonSize>('s');
  readonly shape = input<MatExpressiveButtonShape>('round');
  readonly toggle = input<MatExpressiveButtonToggle | undefined>(undefined);
  readonly disabled = input<boolean>(false);
}
